body {
    background-color: lightpink;
}
h1 {
    font-family: 'Courier New', Courier, monospace;
    font-display: inherit;
    color: brown;
    text-align: center;

}
p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aliceblue;
    text-align: center;

}
#encabezado {
    background-color: hotpink;

    height: 25px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /*border-radius: 20px 0px 20px 0px;
    box-shadow: 10px 10px 10px rgba(223, 12, 12, 0.5); */
    
}
/*#encabezado h1{
    color:chartreuse
}*/
/*.encabezado1 {
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}*/
.encabezado2 {
    color: gold;
}
.encabezado3{
    color: chocolate;
}
.logo{
    width: 20%;
    height: 100%;
    background-color: hotpink;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu{
    width: 50%;
    height: 100%;
    background-color: hotpink;
    display: flex;
    justify-content: center;
    align-items: center;

}
.redes{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.logo img{
    width:235px;
}
.menu ul{
list-style: none;
margin: 0;
padding: 0;
background-color: crimson;
border-radius: 10px;
}
.menu ul li{
    float: left;
    margin: 0 15px;
}
.menu ul li a{
    display: block;
    background-color: aliceblue;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 20px;
}
.menu ul li a:hover{
    color: white;
    background-color: black;
}
.redes{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    
}
.targetitas{
    border-radius: 20px 20px 20px 20px;
    background-color: red;
    height: 350px;
    width: 100%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    
}
#Dvs{
    background-color: bisque;
    height: 400px;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 20px 0px 20px 0px;
}
.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%; /* Opcional: para controlar el tamaño */
    padding: 20px;
}
#piecit{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 20%;
    
}
#piecito{
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
}